<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- bootstrap style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- custom style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


    <title>Hoe sloom was ik?</title>

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140424990-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-140424990-1');
    </script>

  </head>
  <body>

    <div class="bg">


    <div class="container shadow-lg p-3 mb-5 rounded">

    <div class="text-center dark">

      <h1>Hoe Sloom Was Ik?</h1>
    </div>
    </div>
    <br>

    <div class="container shadow-lg p-3 mb-5  rounded">

    <div class="row text-center dark">

    <div class="col-sm">
      <h2>Time-Team</h2>

      {%for race in races["tt"]%}
        <h3><a href="{{race.link}}">{{race.name}}</a></h3>
      {%endfor%}


      <div class="bottom-align">


      </form>
      </div>
    </div>


    <div class="col-sm">
      <h2>Hoesnelwasik</h2>


      {%for race in races["iris"]%}
        <h3><a href="{{race.link}}">{{race.name}}</a></h3>
      {%endfor%}

      <div class="bottom-align">


      </form>
      </div>
    </div>
    </div>

    <div class="h-100 row align-items-center">
      <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/khT7XZi-RV4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
    </div>

    </div>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
